.slider-wrapper:hover {
    animation-play-state: paused;
    display: flex;
  }
  .marquee-slider-wrapper{
    display: flex;
    overflow: hidden;
    position: relative;
   width: fit-content;
  
  }
  .marquee-slider-slides-wrapper{
    display: flex;
    overflow: hidden;
    position: relative;
   width: fit-content;
   justify-content: space-between;
  }