
  .marquee-slider-wrapper{
    display: flex;
    
    position: relative;
  
  }
  .marquee-slider-slides-wrapper{
    display: flex;
    position: relative;
    
  }
  
.marquee-slider-slide{
  width: fit-content;
}